<% provide(:title, 'Home')%>
<div id='main body'>
	<h1>Boyang (Dan) Zhang</h1>
	<h2>Developer, writer, thinker, student</h2>
	<hr>
	<h3>
		Hi, I am a student at the University of Pennsylvania studying Computer Science and English.<br>
		I love exploration of the <b>bold</b> and <b>new</b>, whether it's in life, technology, or a book.
	</h3>
	<div class="center hero-unit">
		<section>
		</section>

	<%= link_to "Explore now", '#', class: "btn btn-large btn-primary" %>
	</div>
</div>

