<footer class="footer">
  <small>
    &copy; Boyang Zhang 2012. Built with 
    <a href="http://rubyonrails.org">Ruby on Rails</a> and
    <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>